DEFAULT_QUIZ_ID=1LZAllFxx60_3oX_iTbYMAP67LwR5J0aPSULJj4yOmSw
DEFAULT_SPREADSHEET_ID=1PSbBUnfpo8imQRNBasX3B3f_1urwnNieeIGoWcKvpaI
DEFAULT_SHEET_NAME=Gradebook
DEFAULT_SCRIPT_ID=1Upviwh1jdVFtyiuBHdC8IVdLmQwFJUWwfz1KstkbI0Og-LLfDsKLYwtb
DEFAULT_SCRIPT_SOURCE_FILE=scripts/quizzes.js
DEFAULT_SCRIPT_FUNCTION_NAME=getQuizGrades
DEFAULT_SCRIPT_MANIFEST_FILE=scripts/appsscript.json
