DEFAULT_QUIZ_ID=1jeyRCHio4YIb36LeyRQADIQ5O1PoeBNLAPAWVJnmH_I
DEFAULT_SCRIPT_ID=1kVmMj-Visq5XmblolwiEU2iivW5n6FYEGUXRAfDEZBaBmXd_amJrXwyN
DEFAULT_SCRIPT_SOURCE_FILE=scripts/quizzes.js
DEFAULT_SCRIPT_FUNCTION_NAME=getQuizGrades
DEFAULT_SCRIPT_MANIFEST_FILE=scripts/appsscript.json
